<%= octicon_btn('chevron-left', owner_path) %>
<h3 class="header">Moje konto</h3>


<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                  <h6><p>Imię:</p></h6>
                </div>
                <div class="col-md-12 col-value">
                    <p> <%= @owner.first_name %></p>
                </div>

                <div class="col-md-12">
                    <h6>Nazwisko:</h6>
                </div>
                <div class="col-md-12 col-value">
                    <p><%= @owner.last_name %></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h6><p>E-mail:</p></h6>
                    </div>
                    <div class="col-md-12 col-value">
                        <p><%= @owner.email %></p>
                    </div>

                    <div class="col-md-12">
                        <h6>Telefon:</h6>
                    </div>
                    <div class="col-md-12 col-value">
                        <p><%= @owner.phone %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
