<%= form_for @house do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :area %>
      <%= f.number_field :area, step: 'any', class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :floors %>
      <%= f.number_field :floors, class: 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :rooms %>
      <%= f.number_field :rooms, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :price %>
      <%= f.number_field :price, step: 'any', class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :land_area %>
      <%= f.number_field :land_area, step: 'any', class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :interior_finishing %>
      <p><%= f.select :interior_finishing, House.interior_finishings.map { |key, _value| [key.humanize, key] }, class: 'form-control' %></p>
      </select>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :available_from %>
      <p><%= f.date_select :available_from, class: 'form-control' %></p>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :market %>
      <p><%= f.select :market, House.markets.map { |key, _value| [key.humanize, key] }, class: 'form-control' %></p>
      </select>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :categories %>
      <%= f.collection_check_boxes :categories, Category.all, :id, :name do |m| %>
        <p> <%= m.check_box({ checked: f.object.categories.pluck(:id).include?(m.object.id) }) %> <%= m.label %></p>
      <% end %>
    </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :photo %>
      <%= f.file_field :photo, class: 'form-control-file' %>
    </div>
  </div>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
