<div class="center">
  <h2>Własne M</h2>
  <%= paginate @houses, theme: 'twitter-bootstrap-4' %>
</div>
<hr>
<div class="row">
  <% @houses.each do |house| %>
    <div class="col-sm-4">
      <div class="card house-card">
        <img src="<%= house.photo_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dom <%= house.id %></h5>
          <p class="card-text">Area: <%= house.area %> m<sup>2</sup></p>
          <p class="card-text">Price: <%= house.price_currency %></p>
          <div style="text-align: center">
            <%= link_to 'Szczegóły', house_path(house), class: 'btn btn-info' %>
            <% if current_owner == house.owner %>
            <%= link_to 'Edytuj', edit_house_path(house), class: 'btn btn-warning' %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
