<%= octicon_btn('chevron-left', houses_path) %>
<h3 class="header">Details</h3>

<% if current_owner == @house.owner %>
  <%= link_to 'Edit', edit_house_path(@house), class: 'btn btn-warning' %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="col-md-12 center">
      <p><%= @house.description %></p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
          <h6><%= octicon "home" %> Area</h6>
        </div>
        <div class="col-md-12 col-value">
          <p> Internal: <%= @house.area %> m<sup>2</sup></p>
          <p> External: <%= @house.land_area %> m<sup>2</sup></p>
        </div>

        <div class="col-md-12">
          <h6><%= octicon "tag" %> Details</h6>
        </div>
        <div class="col-md-12 col-value">
          <p> Floors: <%= @house.floors %></p>
        </div>
        <div class="col-md-12 col-value">
          <p> Rooms: <%= @house.rooms %></p>
        </div>
        <div class="col-md-12 col-value">
          <p> Available from: <%= @house.available_from %></p>
        </div>
        <% if @house.market.present? %>
          <div class="col-md-12 col-value">
            <p> Market: <%= @house.market.humanize %></p>
          </div>
        <% end %>
        <% if @house.interior_finishing.present? %>
          <div class="col-md-12 col-value">
            <p> Interior finishing: <%= @house.interior_finishing.humanize %></p>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="col-md-12">
          <h6><%= octicon "database" %> Price</h6>
        </div>
        <div class="col-md-12 col-value">
          <p><%= number_to_currency(@house.price, unit: 'zł', format: '%n %u', separator: ',', delimiter: ' ') %></p>
        </div>

        <div class="col-md-12">
          <h6><%= octicon "database" %> Price for m<sup>2</sup></h6>
        </div>
        <div class="col-md-12 col-value">
          <p><%= number_to_currency(@house.price_for_m2, unit: 'zł', format: '%n %u', separator: ',', delimiter: ' ') %></p>
        </div>
        <div class="col-md-12">
          <h6>Category</h6>
        </div>
        <div class="col-md-12 col-value">
          <p><%= @house.categories.pluck(:name).join(", ") %></p>
        </div>
        <% if @house.owner.present? %>
          <div class="col-md-12">
            <h6><%= octicon "person" %> Owner</h6>
          </div>
          <div class="col-md-12 col-value">
            <p><%= "#{@house.owner.first_name} #{@house.owner.last_name}" %></p>
            <p>Phone number:  <%= "#{@house.owner.phone}" %></p>
            <% if current_owner != @house.owner %>
              <p> <%= link_to "Message me!", conversations_path(sender_id: current_owner.id, recipient_id: @house.owner.id), method: "post", class: "btn btn-outline-secondary btn-sm"%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <% if @house.photo.attached? %>
      <img src="<%= url_for(@house.photo) %>" class="card-img-top" alt="...">
    <% else %>
      <img src="https://assets.archon.pl/images/products/mfe42422780eaf/widok-1-projekt-dom-w-balsamowcach-2-1565787666__289.jpg" class="card-img-top" alt="...">
    <% end %>
  </div>
</div>


<hr>

